.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    padding: 1rem 2rem;
}

.cta__texts {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.cta__title {
    font-size: 2rem;
    margin: 0;
}

.cta__subtitle {
    font-size: 1.25rem;
    margin: 0;
    color: #75747d;
    margin-top: .25rem;
}

@media (max-width: 768px) {
    .cta-container {
        display: block;
    }

    .cta__button {
        display: inline-block;
        margin-top: .75rem;
    }
}