.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }   
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 4rem;
    }   
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding: 0 6rem;
    }   
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 8rem;
    }   
}
